{% extends "base.html.twig" %}
{% block body %}
    {% include "nav/nav.twig" %}
    <div class="container-fluid">
        {% if receivingPagination|length > 0 %}
            Transportation
            {% include "receiving/table.html.twig" %}
        {% endif %}
        {% if bauPagination|length > 0 %}
            BAU
            {% include "bau/table.html.twig" %}
        {% endif %}
    </div>
{% endblock %}
