{% extends "base.html.twig" %}
{% block body %}
    {% if receivingPagination|length > 0 %}
        <h5>Transportation</h5>
        <div class="row">
            {% include "receiving/table.html.twig" %}
        </div>
    {% endif %}
    {% if bauPagination|length > 0 %}
        <h5>BAU</h5>
        <div class="row">
            {% include "bau/table.html.twig" %}
        </div>
    {% endif %}
{% endblock %}
