{% extends "base.html.twig" %}
{% block body %}
        <div class="row">
            <div class="col-sm">
                <form method="GET" class="form-inline my-2 my-lg-0 d-block search-bar">
                    <div class="input-group mb-3 ">
                        <input
                            type="search"
                            class="form-control"
                            placeholder="Key Word"
                            aria-label="Key Word"
                            name="keyWord"
                            value="{{ keyWord }}"
                        >
                        <div class="input-group-append">
                            <button
                                class="btn btn-outline-secondary"
                                type="submit"
                            >
                                Search
                            </button>
                        </div>
                        <div class="input-group-append">
                            <a
                                class="btn btn-outline-secondary"
                                href="{{ path('receivings') }}"
                            >
                                Clear
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm mb-3">
                <a
                    class="btn btn-primary float-md-right float-sm-left"
                    href="{{ path('new_receiving') }}"
                >
                    New Receiving
                </a>
            </div>
        </div>
        <div class="row">
            {% include "receiving/table.html.twig" %}
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(receivingPagination) }}
            </div>
        </div>
{% endblock %}
