{% extends "base.html.twig" %}
{% block body %}
    {% include "nav/nav.twig" %}
    <div class="container-fluid">
        <div>
            <form method="GET" class="form-inline my-2 my-lg-0">
                <input
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    name="keyWord"
                    value="{{ keyWord }}"
                >
                <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                >
                    Search
                </button>
            </form>
            <a
                class="btn btn-primary"
                href="{{ path('new_location') }}"
            >
                New Location
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for item in parts %}
                <tr>
                    <td> {{ item.getLocation() }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
