body {
    background-color: lightgray;
}

.footer {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .search-bar {
        width: 50%;
    }
}

.bar {
    height: 18px;
    background: green;
}

.upload_result {
    width: 100%;
}

.left-nav {
    padding: 0;
}
