// customize some Bootstrap variables
// $brand-primary: darken(#428bca, 20%);
//
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap/scss/bootstrap.scss';

.footer {
    margin-bottom: 50px;
}

.navbar {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .search-bar {
        width: 50%;
    }
}
