<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DCtool</a>
    {{ render(controller('App\\Controller\\NavigatorController::navSites')) }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {% if navbar == 'home' or navbar == '' %} active {% endif %}">
                <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item {% if navbar == 'receiving' or navbar == '' %} active {% endif %}">
                <a class="nav-link" href="/receivings">Receiving</a>
            </li>
            <li class="nav-item {% if navbar == 'bau' %} active {% endif %}">
                <a class="nav-link" href="/bau">BAU</a>
            </li>
            <li class="nav-item {% if navbar == 'device' %} active {% endif %}">
                <a class="nav-link" href="/devices">Device</a>
            </li>
            <li class="nav-item {% if navbar == 'rack' %} active {% endif %}">
                <a class="nav-link" href="/racks/1/devices">Rack</a>
            </li>
            <li class="nav-item {% if navbar == 'parts' %} active {% endif %}">
                <a class="nav-link" href="/parts">Spare</a>
            </li>
            <!-- <li class="nav-item {% if navbar == 'location' %} active {% endif %}">
                <a class="nav-link" href="/locations">Location</a>
            </li> -->
            <li class="nav-item {% if navbar == 'models' %} active {% endif %}">
                <a class="nav-link" href="/models">Model</a>
            </li>
            <li class="nav-item {% if navbar == 'manufacturer' %} active {% endif %}">
                <a class="nav-link" href="/manufacturers">Manufacturer</a>
            </li>
        </ul>
    </div>
</nav>
