<select
    class="d-block d-md-none rack-select"
>
    {% for rack in racks %}
        <option
            value="{{rack.getId()}}"
            {% if currentRack != null and rack.getId() == currentRack.getId() %}
            selected
            {% endif %}
        >
            {{ rack.getName() }}
        </option>
    {% endfor %}
</select>
<div class="d-none d-sm-none d-md-block" id="racksNav" >
    <ul class="nav flex-column navbar-dark">
        {% for rack in racks %}
        <li class="
            nav-item
            {% if currentRack != null and rack.getId() == currentRack.getId() %}
            active
            {% endif %}
            ">
            <a class="nav-link" href="/racks/{{rack.getId()}}/devices">
                {{ rack.getName() }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
