<ul class="nav flex-column navbar-dark bg-dark">
    {% for rack in racks %}
    <li class="
        nav-item
        {% if currentRack != null and rack.getId() == currentRack.getId() %}
        active
        {% endif %}
        ">
        <a class="nav-link" href="/racks/{{rack.getId()}}/devices">
            {{ rack.getName() }}
        </a>
    </li>
    {% endfor %}
</ul>
